.main {
  position: relative;
  height: 100%;
  width: 7.5rem;
  margin: auto;
  overflow: auto;
  overflow-x: hidden;
  background: #161b3b url('../img/bg.png') no-repeat 0 0/100% auto;
  font-size: 0.24rem;
}

.btn-log {
  position: absolute;
  top: 1.6rem;
  right: 0;
  width: 1.54rem;
  height: 0.54rem;
  color: #fff;
  font-size: 0.26rem;
  background: #3c3c79;
  border-radius: 1rem 0 0 1rem;
}

/* 用户蓝钻信息部分 */
.head {
  width: 100%;
  padding-top: 1.7rem;
  text-align: center;
}

.user-title {
  padding-left: 0.5rem;
  font-size: 0.28rem;
  color: #9fade2;
  margin: auto;
  line-height: 0.42rem;
  background: url("../img/icon_blue.png") no-repeat 0 center/0.43rem 0.41rem;
}

.user-blue {
  font-family: 'DINPro-CondBold';
  line-height: 0.8rem;
  margin-top: 0.1rem;
  font-size: 0.72rem;
  color: #fff;
}

.user-rmb {
  line-height: 0.36rem;
  font-size: 0.24rem;
  color: #9fade2;
}

/* tab切换栏部分 */
.tabbar {
  margin-top: 0.2rem;
  height: 0.84rem;
  justify-content: space-around;
}

.tabbar .bar-btn {
  position: relative;
  height: 100%;
  font-size: 0.3rem;
  color: #9fade2;
}

.tabbar .bar-q {
  height: 100%;
  padding-left: 0.5rem;
  background: url('../img/icon_gold_q.png') no-repeat 0 center/0.42rem 0.42rem;
}

.tabbar .bar-e {
  height: 100%;
  padding-left: 0.5rem;
  background: url('../img/icon_gold_e.png') no-repeat 0 center/0.42rem 0.42rem;
}

.tabbar .bar-age {
  position: absolute;
  top: 0;
  right: -3em;
  white-space: nowrap;
  width: 0.84rem;
  height: 0.26rem;
  background: #383c89;
  font-size: 0.18rem;
  color: #7c87d7;
  border-radius: 1rem 1rem 1rem 0;
}

.tabbar .active {
  color: #fff;
  box-shadow: inset 0 -0.04rem 0 0 #ff4396;
}

/* tab内容页部分 */
.tabcontent {
  position: relative;
  width: 6.5rem;
  margin: auto;
  padding: 0.3rem;
  background: #1f254f;
  border-radius: 0.06rem;
}

.q-edit {
  width: 100%;
  height: 0.9rem;
  border-radius: 0.06rem;
  box-shadow: 0 0 0 1px #414598 inset;
  justify-content: flex-start;
  font-size: 0.3rem;
  color: #9fade2;
  background: #191e42 url("../img/icon_edit.png") no-repeat right 0.24rem center/0.28rem auto;
  margin-bottom: 0.3rem;
}

.q-edit-title {
  margin: 0 0.3rem 0 0.24rem;
}

.q-edit-input {
  display: block;
  border: none;
  outline: none;
  width: 3rem;
  height: 0.32rem;
  line-height: 0.32rem;
  background: transparent;
  padding: 0;
  margin: 0;
  color: #fff;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.q-edit-input::-webkit-input-placeholder {
  color: #3e4374;
  line-height: 0.32rem;
}

.goods {
  width: 6.8rem;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.goods-li {
  position: relative;
  width: 2.06rem;
  height: 2.6rem;
  margin: 0 0.16rem 0.16rem 0;
  background: #2e3170;
  border-radius: 0.06rem;
}

.goods-li.active {
  box-shadow: 0 0 0 0.04rem #ff4396 inset;
  background: #2e3170 url("../img/icon_right.png") no-repeat right top/0.4rem auto;
}

.goods-right {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 0.4rem;
  width: 0.4rem;
  background: url("../img/icon_right.png") no-repeat 0 0/100% auto;
}

.active .goods-right {
  display: block;
}

.goods-title {
  padding-top: 0.08rem;
  line-height: 0.48rem;
  font-size: 0.28rem;
  color: #fff;
  font-style: italic;
  text-align: center;
}

.goods-pic {
  width: 1.3rem;
  height: 1.4rem;
  margin: auto;
  box-shadow: 0 -1px 0 0 #3e407f inset;
}

.goods-pic img {
  display: block;
  width: 100%;
  height: auto;
}

.goods-blue {
  font-family: 'DINPro-CondBold';
  height: 0.64rem;
  font-size: 0.32rem;
  color: #9fade2;

}

.goods-blue div {
  padding-left: 0.4rem;
  background: url("../img/icon_blue.png") no-repeat 0 center/0.34rem auto;
}

.goods-btn-before {
  text-align: center;
  margin-bottom: -0.08rem;
  line-height: 0.54rem;
  font-size: 0.26rem;
  color: #636cb1;
}

.goods-btn {
  width: 6.5rem;
  height: 0.9rem;
  font-size: 0.34rem;
  color: #fff;
  background: #ff3e96;
  box-shadow: 0 -0.06rem 0 0 #d82d7b inset;
  border-radius: 0.06rem;
  margin-top: 0.14rem;
}

.goods-tip {
  text-align: justify;
  font-size: 0.24rem;
  color: #636cb1;
  line-height: 0.36rem;
  margin-top: 0.2rem;
}

.goods-tip span {
  color: #ff3e96;
}

.goods-tip .serve {
  color: #a463ff;
}

.goods-tip-li {
  margin-top: 0.12rem;
}

.goods-e-tip {
  margin-top: 0.3rem;
  padding: 0.3rem 0.2rem;
  background: #181d3f;
  border-radius: 0.06rem;
  text-align: justify;
  font-size: 0.24rem;
  color: #636cb1;
  line-height: 0.36rem;
}

.goods-e-tip div:first {
  font-size: 0.26rem;
}

.goods-e-li {
  margin-top: 0.12rem;
}

/* 兑换失败 */
.result {
  margin: 0.54rem auto 0.56rem;
  padding-top: 1.04rem;
  font-size: 0.28rem;
  line-height: 0.48rem;
  color: #1D1D26;
  background: url("../img/icon_success.png") no-repeat center top/0.7rem auto;
  text-align: center;
}

.result-fail {
  background-image: url('../img/icon_fail.png');
}

.result-title {
  font-size: 0.36rem;
  font-weight: bold;
}

/* 交易密码的样式 */
.pwd {
  width: 100%;
  padding-top: 0.4rem;
}

.pwd-title {
  padding-left: 0.76rem;
  font-size: 0.32rem;
  line-height: 0.52rem;
  color: #414156;
  margin-bottom: 0.24rem;
}

.pwd-title span {
  color: #1D1D26;
  font-weight: bold;
}

.pwd-tip {
  text-align: center;
  font-size: 0.28rem;
  color: #80829A;
  line-height: 0.4rem;
}

.pwd-error {
  color: #FF3C55;
}

.pwd-box {
  position: relative;
  width: 5.1rem;
  justify-content: space-between;
  margin: 0.3rem auto 0.38rem;
  overflow: hidden;
}

.pwd-box input {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  z-index: 99;
  caret-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: transparent;
  display: block;
  border: none;
  outline: none;
  line-height: 0.8rem;
  color: transparent;
  opacity: 0;
  /*文本向左缩进*/
  text-indent: -999em;
  /*输入框增大一倍*/
  width: 200%;

}

.pwd-box .pwd-num {
  position: relative;
  box-sizing: border-box;
  padding: 0.1rem 0;
  margin: 0;
  width: 0.6rem;
  height: 0.8rem;
  color: #414156;
  border-bottom: 1px solid #eaeaea;
}

.pwd-box .active {
  border: 0;
  background: transparent;
  outline: none;
  border-bottom: 1px solid #414156;
  -webkit-appearance: none;
}

.pwd-forget {
  font-size: 0.28rem;
  color: #FF4396;
  line-height: 0.4rem;
  text-align: center;
}

.pwd .dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 1rem;
  background: #414156;
}
